# ignore everything
/**

# exclude directories
!/**/

# exclude only this file, not allowed in subdirs
!/.gitignore

# exclude .gitkeep anywhere, to include empty directories
!.gitkeep

# documentation
!/*.md
!/docs/

# content-specific
!/Makefile
!/run.sh
!/docker-compose.yml

# config
!/gitlab/gitlab.rb
